[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mongoengine = "*"
google-cloud-language = "*"
google-api-python-client = "*"
dialogflow = "*"
sanic = "*"
marshmallow = "*"
sanic-swagger = "*"
umongo = {version = "*", extras = ["motor"]}
pyyaml = "*"
python-dateutil = "*"

[dev-packages]
codecov = "*"
pytest = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
python-language-server = {version = "*", extras = ["all"]}
pytest-cov = "*"
pytest-ordering = "*"
mock = "*"
mongomock = "*"
codacy-coverage = "*"
yapf = "*"
aiohttp = "*"
ipython = "*"
pylint = "*"
mypy = "*"
mockupdb = "*"
pytest-asyncio = "*"

[requires]
python_version = "3.6"
