[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
mongoengine = "*"
flask-restplus = "*"
google-cloud-language = "*"
google-api-python-client = "*"
dialogflow = "*"

[dev-packages]
pytest = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
python-language-server = {version = "*", extras = ["all"]}
pytest-cov = "*"
pytest-ordering = "*"
mock = "*"
mongomock = "*"

[requires]
python_version = "3.7"
